@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
  --primary-accent-color: #c09535;
  --bs-btn-active-border-color: #ffde95b4;
  --bs-btn-active-bg: #ffde95b4;
  --bs-btn-active-color: #ffde95b4;
}

*{
  font-family: 'Roboto Slab', serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #c1fcff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .App-link {
  color: #61dafb;
} */

html, body{
  background-color: #c1fcff;
  background-image: url("https://dolcefilipa.com/space-pattern-opacity.png");
  background-repeat: repeat;
  background-size: 10%; 
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo-img{
  height: 80px;
  width: auto;
}


h1, h2, h3, h4{
  font-family: 'Roboto Slab', serif;
  font-weight: 900;
}

.example-container-grid{
  width: 90%;
  height: 40vh;
  border: 1px solid grey;
  border-radius: 20px;
  margin-top: 20px;
}


.item{
  display: inline-block;
  width: 300px;
}


.item-quantity {
  border: 1px solid #0000001a;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
}

.quantity{
  margin: auto;
}

.item-image{
  height: 350px;
  width: auto;
}

.item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.h-80{
  height: 80vh;
}

.max-width-200{
  max-width: 200px;
}

.btn-primary{
  font-family: 'Roboto Slab', serif;
}

#banner-image {
  max-height: 60vh;
  overflow: hidden;
}

a{
  color: grey;
  transition: 0.2s;
}

a:hover{
  color:var(--primary-accent-color);
  transition: 0.2s;
}

.btn-primary{
  color: grey;
  background-color:#ffde95b4 ;
  border-color: #ffde95b4;
}


.btn:hover, .btn-check:active+.btn, .btn-check:checked+.btn, .btn.active, .btn.show, .btn:active{
  --bs-btn-bg: var(--primary-accent-color);
  --bs-btn-border-color: var(--primary-accent-color);
  --bs-btn-active-color: #ffffff;
  background-color: var(--primary-accent-color);
  border-color: var(--primary-accent-color);

}

.nav-link{
  font-family: 'Roboto Slab', serif;
}