@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Questrial&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

html, body{
  background-color: #282c34; 
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo-img{
  height: 80px;
  width: auto;
}


h1, h2, h3, h4{
  font-family: 'Fredoka One', cursive;
}

.example-container-grid{
  width: 90%;
  height: 40vh;
  border: 1px solid grey;
  border-radius: 20px;
  margin-top: 20px;
}


.item{
  display: inline-block;
  width: 300px;
}


.item-quantity {
  border: 1px solid #fff3;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
}

.quantity{
  margin: auto;
}

.item-image img {
  width: 100%;
  height: auto;
}
